body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
}

@media(max-width: 700px) {
    body {
        font-size: calc(12px + 1vmin);
    }
}

h1 {
    font-size: 3em;
    /*font-weight: 300;*/
    margin: 30px;
    letter-spacing: -2px;
}

h3 {
    font-weight: bold;
}

/*general styles*/

.spacer {
    padding-top: 100px;
}

.bold {
    font-weight: bold;
}

.no-wrap {
    white-space: nowrap;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

form {
    color: black;
}

/*placeholder*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    grey;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    grey;
}

/*header and nav bar*/

.frontpage-splash {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/videos/ao-video-home-5.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/videos/ao-video-home-5.jpg', sizingMethod='scale')";
    background-size: cover;
    height: 100%;
    max-height: 1000px;
    width: 100%;
    position: relative;
    overflow-x: visible;
    overflow-y: hidden;
    color: white;
    background-color:rgba(0, 0, 0, 0.3);
}

.frontpage-splash-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
}

.frontpage-splash-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
}

.subpage-splash {
    background-color: #1E5E96;
    color: white;
}

.navbar {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: transparent;
    margin-bottom:50px;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.social-nav {
    margin-right: 20px;
}

/* old navbar */

.nav-a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.nav-icon-height {
    height: 20px;
}

.hero-nav-bar,
#hero-nav-bar,
#hero-nav-bar-childpages {
    height: 60px;
    padding: 5px;
}

#hero-nav-bar .row {
    display: flex;
    align-items: center;
}

#hero-nav-bar-childpages {
    background-color: #1E5E96;
    color: #1C466F;
}

#top-left-logo {
    padding-top: 20px;
    padding-left: 40px;
    width: 129px;
    height: 29px;
    float: left;
}

#hero-image-header {
    background: url('../assets/img/hero-image-sea.jpg');
    background-size: cover;
    background-position: center;
    /*z-index: 0;*/
}

#hero-content {
    color: white;
    font-size: 2.1em;
    text-align: center;
}

#hero-text-wide {
    font-weight: 300;
    width: 75%;
    max-width: 750px;
    margin: 0 auto;
    height: 126px;
}

#hero-text-thin {
    font-weight: 300;
    display: none;
    width: 309.9px;
    margin: 0 auto;
    height: 140px;
}

#hero-logo-image {
    width: 150px;
    margin-bottom: 30px;
}

.childpage-content {    
    color: #1C466F ;
    background-color: #EEF3F7;
}

#countdown {
    margin-top:20px;
}

#countdown-announcement {
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 1.5em;
}

.timer {
    display: inline-block;
    margin: 0 12px;
}

.timer-title {
    font-size: .9em;
    clear: both;
}

.timer-time {
    font-size: 2.5em;
    font-weight: bold;
}

#datePrettyElement {
    margin-top:10px;
}

#scroller-image {
    padding-top: 79px;
    height: 60px;
}

/*explore deepsee section*/

#about {
    height: auto;    
    padding: 30px 0;
    width: 100%;
    color: #1E5E96;
    text-align: center;
}

#about-title {
    font-size: 3em;
    font-weight: 300;
    margin: 0 auto;
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    text-align: center;
}

#about-blurb {
    font-size: .9em;
    font-weight: 500;
    line-height: 20px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

.about-text-panel {
    display: flex;
    flex-direction: column;
}

#small-bar {
    height: 2px;
    width: 106px;
    padding-bottom: 30px;
}

#whitepaper-button {
    font-size: .7em;
    color: white;
    font-weight: 500;
    height: 75px;
    width: 300px;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#259BF9), to(#1A6BAE));
    background-image: -webkit-linear-gradient(top, #259BF9 0%, #1A6BAE 100%);
    background-image: -o-linear-gradient(top, #259BF9 0%, #1A6BAE 100%);
    background-image: linear-gradient(-180deg, #259BF9 0%, #1A6BAE 100%);
    border-radius: 3px;
    padding: 12px 16px 12px 16px;
}

#whitepaper-button-icon {
    height: 20px;
    width: 20px;
}

@media (max-width: 700px) {
    #about-blurb {
        padding-bottom: 50px;
        width: 75%;
    }
    #about-title {
        font-size: 2em;
    }
    #small-bar {
        height: 2px;
        width: 106px;
        padding-bottom: 30px;
        padding-top: 10px;
    }
    #whitepaper-button {
        font-size: .7em;
        color: white;
        height: 60px;
        width: 300px;
        text-decoration: none;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#259BF9), to(#1A6BAE));
        background-image: -webkit-linear-gradient(top, #259BF9 0%, #1A6BAE 100%);
        background-image: -o-linear-gradient(top, #259BF9 0%, #1A6BAE 100%);
        background-image: linear-gradient(-180deg, #259BF9 0%, #1A6BAE 100%);
        border-radius: 3px;
        padding: 12px 16px 12px 16px;
    }
}


/*what do we offer*/

.check-mark {
    height: 40px;
}

.offer-titles {
    height: auto;
    font-size: calc(.5em + 1vmin);
}

.offer-infos {
    font-size: calc(.4em + .6vmin);
    margin-top: 15px;
}

#what-we-offer {
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#297FCA), to(#1D5D94));
    background-image: -webkit-linear-gradient(top, #297FCA 0%, #1D5D94 100%);
    background-image: -o-linear-gradient(top, #297FCA 0%, #1D5D94 100%);
    background-image: linear-gradient(-180deg, #297FCA 0%, #1D5D94 100%);
    overflow-y: hidden;
}

#what-we-offer-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
    height: 50px;
    font-weight: 300;
    font-size: 3em;
}

#offer-screenshot-container {
    width: 100%;
    height: auto;
    margin-bottom: -30px;
    margin-top: 30px;
}

#offer-screenshot {
    width: 80%;
    height: auto;
}

.about-content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.about-content > div {
    margin-bottom:40px;
}

.about-content-additional > .row > div {
    padding: 0 20px 0 20px;
}

.about-text-column {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about-image-column img {
    max-width: 100%;
    margin: 20px auto 0;
}

.about-text-header {
    font-size: 1.4em;
}

.about-text {
    margin: 0 20px 15px 20px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (width: 375px) and (height: 559px) and (orientation: portrait) and (color: 8) and (device-aspect-ratio: 375/667) and (aspect-ratio: 375/559) and (device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
    #blue-logo-height {
        display: none;
    }
}

@media (max-width: 744px) {
    .about-content {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #offer-screenshot {
        width: 80%;
    }
    .offer-titles {
        height: auto;
        margin-top: 10px;
        font-size: 1.5em;
    }

    .offer-infos {
        font-size: 1em;
        margin-top: 15px;
    }
}


/*features*/

.icon-height {
    height: 40px;
}

.feature-info {
    font-size: .75em;
}

#features {
    color: #297FCA;
    background-color: white;
}

#features-blurb {
    width: 50%;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 1.5em;
}

#features-container-row1,
#features-container-row2,
#features-container-row3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    position: relative;
}

#feature1,
#feature4 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 30px;
}

#feature2,
#feature5,
#feature8 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 30px;
}

#feature8 {
    width: calc(80% - 30px);
    position: relative;
    right: 0;
    margin: auto;
}

#feature3,
#feature6 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding: 30px;
}

#feature7 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 20%;
    padding: 15px;
}

#bottom-feature {
    padding-left: 50px;
}

.feature {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-direction: column;
}

.feature .default-text {
    max-width: 774px;
    text-align: center;
    line-height: 1.5em;
}

/*.feature-title {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: -1px;
}*/

.signup-title {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 20px;
}

#blue-logo-height {
    margin: 30px;
    margin-top: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 250px;
    width: 250px;
}

#features {
    padding-bottom: 30px;
}

@media (max-width: 900px) {
    #features-container-row1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-top: 70px;
    }
    #features-container-row2,
    #features-container-row3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    #features-blurb {
        width: 80%;
    }
    #feature7 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
    }
    #blue-logo-height {
        margin-top: 30px;
        margin: 0 auto;
        margin-top: 60px;
        margin-left: -35px;
    }
    #bottom-feature {
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .feature-info {}
}

@media (max-width: 600px) {
    #features {}
}

/* currentsee */

#currentsee {
    position: relative;
    background-color: #1E5E96;
    padding: 30px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentsee-img {
    width: 95%;
    margin-top: 20px;
}

/* timeline */

#timeline {
    position: relative;
    background-color: white;
    padding: 30px 0;
    color: #1E5E96;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-img {
    max-width: 80%;
    margin-top: 24px;
}

/*team*/

#team {
    background-color: #F3F8FC;
    color: #1C466F;
    padding: 30px 0;
}

.persons {
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.person {
    width: 200px;
    margin: 0 30px;
    text-align: center;
}

.person img {
    width: 80%;
}

.person h3 {
    margin-bottom: 0px;
    font-weight: 300;
}

.person h4 {
    font-weight: bold;
}

.person p {
    font-size: .9em;
}


/*contact*/

#contact {
    background-color: #1E5E96;
    color: white;
}

#contact form {
    max-width:300px;
}

#contact .content {
    justify-content: center;
}

#contact input, #contact textarea, #contact button {
    width: 100%;
}

#signup {
    margin-bottom:40px;
}

#signup input {
    background: transparent;
    color: white;
}

#signup2 {
    background-color: #1C466F;
}

.signup {
    color: #ffffff;
}

.signup .feature-title {
    font-size: 1.5em;
}

.signup .content {
    justify-content: center;
}

.signup-form {
    max-width:400px;
}

.signup-form .input-group {
    width: 70%;
}

.signup-form input {
    width: 100%;
    height: 35px;
}

.signup-form button {
    width:25%;
}

/*footer*/

footer {
    background-color: #1C466F;
    color: #ffffff;
}

#footer {
    background-color: #1C466F;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10%;
}

.copyright {
    color: #cccccc;
    padding-bottom:10px;
}

.copyright-hr {
    color: #cccccc;
    background-color: #cccccc;
    border: none;
    height: 1px;    
}

/* FAQ */

.faq-sidebar-icon {
    margin-right:20px;
}

.faq-sidebar-nav-item {
    background-color: #ffffff;
    padding: 10px;
    color: #1C466F ;
    border: 1px solid #C5D3DE;
    margin-bottom:10px;
}

.faq-section {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #C5D3DE;
    margin-bottom:10px;
    padding: 10px;
}

.faq-section-header {    
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.faq-section-header h2 {
    margin: 10px;
}

.faq-section-content {
    padding: 0 30px;
}

.faq-section-content > hr {
    margin: 10px 30px;
}

.collapsible-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collapsible-header h3 {
    margin-top: 10px;
    font-weight: bold;
}

.collapse-container {
    padding: 0 30px;
    text-align: justify;
}